


.contain{
    display: flex;
    flex-direction: column;
   
   
}
.social-icons{
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 30px;
    
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
   
}
/* .soc-icon:hover {
    transform: translateY(-4px);
    transition:0.3s;
} */


/* *************************************************** */
  
  .social-icons li {
    list-style: none;
  }
  
  .social-icons li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .social-icons li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .social-icons li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .social-icons li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .social-icons li a:hover:before {
    top: 0;
  }
  
  .social-icons li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .social-icons li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .social-icons li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .social-icons li:nth-child(4) a:before {
    background: #787777;
  }